@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'AeonikATrial-Air';
  src: url('/fonts/AeonikArabicTRIAL-Air.otf') format('otf');
}

@font-face {
  font-family: 'AeonikATrial-Black';
  src: url('/fonts/AeonikATrial-Black.otf');
}

@font-face {
  font-family: 'AeonikATrial-Bold';
  src: url();
}

@font-face {
  font-family: 'AeonikATrial-Light';
  src: url();
}

@font-face {
  font-family: 'AeonikATrial-Medium';
  src: url();
}

@font-face {
  font-family: 'AeonikATrial-Regular';
  src: url();
}

@font-face {
  font-family: 'AeonikATrial-SemiBold';
  src: url();
}

@font-face {
  font-family: 'AeonikATrial-Thin';
  src: url();
}